{%extends "index.html" %}
{% block start %}



<form method="POST">
    {% csrf_token %}
    <div class="container rounded-3 border border-2 border-dark my-5 bg-white" style="height:auto;">
        <div>
            <h2 class="h2"> register</h2>
            

            {% if messages %}
            <div class="alert alert-primary" role="alert">
                {% for message in messages%}
                {{message}}
                {% endfor %}

            </div>
            {%endif %}


            <div class="row mb-3">
                <div class=" col-8">
                    <label for="user" class=" py-3 form-control shadow"> first Name</label>
                    <input name='first_name' type="text" class=" py-3 form-control shadow" id="user">
                </div>
                <div class=" col-8">
                    <label for="user" class=" py-3 form-control shadow"> last Name</label>
                    <input name='last_name' type="text" class=" py-3 form-control shadow" id="user">
                </div>

                <div class=" col-8">
                    <label for="user" class=" py-3 form-control shadow"> User Name</label>
                    <input name='Username' type="text" class=" py-3 form-control shadow" id="user">
                </div>
                <div class="col-8">
                    <label for="password" class=" py-3 form-control shadow">Password</label>
                    <input name='password' type="password" class=" py-3 form-control shadow" id="Password">
                </div>
                <p>already have account <a href="/login/">login</a></p>
                <button type="submit" class="mt-2 btn btn-dark ">Submit</button>
            </div>
        </div>
</form>

{% endblock %}