{%extends "index.html" %}
{% block start %}
<form method="post">
  {%csrf_token%}

  <div class=" container rounded-3 border border-2 border-dark my-5 bg-white" style="height:auto;">
    <div>
      <h1 class=" h1">To Do List</h1>
      <div class="row">
        <div class=" col-8">
          <input class=" py-3 form-control shadow" name='task_name' placeholder="input your task" type="text"
            id="inputText"  value="{{task.task_name}}">
            <textarea class=" py-3 form-control shadow" name='task_discription' placeholder="input your discription">"{{task.task_discription}}</textarea>
          <input class=" py-3 form-control shadow" name='task_status' type="datetime-local" id="inputText" value="{{task.task_status}}">
        </div>
        <div class="col-2">

          <button type="submit" class=" mt-2 btn btn-dark"> Add </button>
        </div>
      </div>
    </div>
    <hr>






























    {% endblock %}